*:active, *:hover, *:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn:active, .btn:hover, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:active, input:hover, input:focus {
    outline: none !important;
    border: 1px solid #b5b5b5;
    box-shadow: none !important;
}

.datatable-row {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #333;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #e7ecf1;
}

.datatable-col-md {
    padding: 8px 10px;
    border-right: 1px solid #e7ecf1;
}

.datatable-column-name {
    padding: 10px 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.datatable-col-md:last-child {
    border: 0;
}

.datatable-col-md .form-control {
    padding: 1.575rem 1.15rem;
    font-size: 1.3rem;
    border: 1px solid #ced4da;
}

.datatable-col-md .btn, .page-link {
    padding: .575rem 1.15rem;
    font-size: 1.3rem;
}