<div class="row datatable-row">
    <div class="col-md datatable-col-md" [textContent]="datatable.labels.paginationText
            .replace('{from}', '' + (datatable.maxPage !== 0 ? datatable.offset + 1 : 0))
            .replace('{to}', '' + this.Math.min(datatable.offset + datatable.limit, datatable.itemCount))
            .replace('{count}', '' + datatable.itemCount)">
    </div>
    <div class="col-md datatable-col-md">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{ 'disabled': (datatable.offset <= 0) }">
                <span (click)="previousPage()" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </span>
            </li>
            <li class="page-item" *ngFor="let page of pages" [ngClass]="{'disabled':(page == etc),'active' : currentPage == page}">
                <span (click)="changePage(page)" class="page-link" [textContent]="page"></span>
            </li>
            <li class="page-item" [ngClass]="{ 'disabled': (datatable.offset + datatable.limit) >= datatable.itemCount }">
                <span (click)="nextPage()" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </span>
            </li>
        </ul>
    </div>
</div>