.pagination {
    margin-bottom: 0;
    float: right;
}

.datatable-row, .datatable-col-md {
    border: 0;
}

.datatable-row {
    height: 60px;
    padding: 5px 0;
}

.datatable-col-md:first-child {
    padding-top: 14px;
}