<div class="datatable-wrapper">
  <datatable-header [title]="title"></datatable-header>

  <div class="datatable-container">
    <div class="row datatable-row">
      <div
        *ngFor="let column of columns"
        [textContent]="column.name"
        [ngClass]="column.class?.length > 0 ? column.class : ''"
        class="col-md datatable-col-md datatable-column-name">
    </div>
    </div>
    <div
      class="row datatable-row"
      *ngFor="
        let item of items;
        let index = index;
        let isOdd = odd;
        let isEven = even
      "
      [class.odd]="isOdd"
      [class.even]="isEven"
      [item]="item"
      datatable-row>
    </div>
  </div>

  <datatable-footer></datatable-footer>
</div>
