<ng-template ngFor [ngForOf]="datatable.columns" let-column>
    <div *ngIf="!column.template" [textContent]="item[column.property]" class="col-md datatable-col-md"
        [ngClass]="column.class?.length > 0 ? column.class : ''">
    </div>
    <div *ngIf="column.template" class="col-md datatable-col-md" [ngClass]="column.class?.length > 0 ? column.class : ''">
        <ng-container [ngTemplateOutlet]="column.template" [ngTemplateOutletContext]="{item: item}"></ng-container>
    </div>
</ng-template>