<div class="test">
    <bom-datatable [title]="'Categories'" [items]="items" [itemCount]="count" (initDatatable)="loadData($event)"
        (onSearch)="onSearch($event)" (onNewItem)="onNewItem($event)">
        <datatable-column [name]="'name'" [property]="'name'"></datatable-column>
        <datatable-column [name]="'age'" [property]="'age'"></datatable-column>
        <datatable-column [name]="'gender'" [property]="'gender'"> </datatable-column>
        <datatable-column [name]="'Action'" [class]="'col-md-2'">
            <ng-template #template let-item="item">
                    <i class="fa fa-edit" aria-hidden="true" (click)="onEdit()" style="margin-left:10px;margin-right:10px;font-size:20px;cursor:pointer;color:chocolate;text-align: center;float: left;"></i>
                    <i class="fa fa-trash-o" aria-hidden="true" style="font-size:20px;cursor:pointer;color:red;text-align: center;float: left;"></i>
            </ng-template>
        </datatable-column>
    </bom-datatable>
</div>