<div class="row datatable-row">
    <div class="col-md datatable-col-md title">
        <i class="fa fa-check"></i>
        {{title}}
    </div>
    <div class="col-md datatable-col-md">&nbsp;</div>
</div>
<div class="row datatable-row">
    <div class="col-md datatable-col-md">
        <button class="btn btn-secondary" (click)="initNewItem()">Add New</button>
    </div>
    <div class="col-md datatable-col-md">
        <form class="form-inline pull-right">
            <div class="form-group">
                <input #search type="text" class="form-control" name="search" placeholder="Search..." (keyup)="initSearch(search.value)" />
            </div>
        </form>
    </div>
</div>